@page "/Gradient"
@model ScpTools.Pages.GradientText
@{
    ViewData["Title"] = "Gradient Text";
}

<link rel="stylesheet" href="~/css/gradient.css" asp-append-version="true"/>

<div class="big-container">
    <div class="config-container">
        <h1>
            Rich Text
                <br/>
            Gradient
        </h1>

        <div class="step-container">
            <small>1. Text Input</small>
            <textarea class="text-input" id="input" onchange="generateGradient()">Your Server Name</textarea>
        </div>
        
        <div class="step-container">
            <small>2. Gradient Colors</small>
            <div class="color-container" id="color-list">
                <input type="text" value='#ff3995' class="color-input coloris" id="color-0" data-coloris>
                <input type="text" value='#ffbeea' class="color-input coloris" id="color-1" data-coloris>
            </div>
            <button class="cool-btn add-btn" id="add-btn">Add</button>
            <button class="cool-btn remove-btn" id="remove-btn">Remove</button>
        </div>

        <div class="step-container">
            <small>3. Actions</small>
            <button class="cool-btn run-btn" onclick="generateGradient()">
                <span class="material-symbols-outlined btn-icon">
                    bolt
                </span>
                Generate
            </button>
        </div>
        
        <div class="step-container">
            <small>4. Output</small>
            <textarea class="text-input output" id="output">Output</textarea>
            <button class="cool-btn copy-btn" onclick="copyGradient()">
                <span class="material-symbols-outlined btn-icon">
                    content_copy
                </span>
                Copy
            </button>
        </div>
    </div>
    
    <div class="main-container">
        <div class="centered server-info" style="position: relative">
            <div id="name" class="server-info-name"></div>
            <span class="server-info-counter">0/25</span>
            <div class="server-info-flags">
                <span class="material-symbols-outlined filled flag-icon">
                    build
                </span>
                <span>Modded</span>
            </div>
            <span class="material-symbols-outlined server-info-play filled">
                play_arrow
            </span>
            <span class="material-symbols-outlined server-info-star">
                star
            </span>
        </div>
    </div>
</div>

@section Scripts
{
    <!-- Color Picker Lib -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    
    <script src="~/js/rainbowvis.js" asp-append-version="true"></script>
    <script src="~/js/gradient.js" asp-append-version="true"></script>
}

