@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Scp:Sl Tools</h1>
    <p>Open Source tools made by <a href="https://jesusqc.es">Jesus-QC</a>.</p>
</div>