@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center centered">
    <h1 class="display-4">SCP:SL Tools</h1>
    <p>Open Source tools made by <a href="https://jesusqc.es">Jesus-QC</a>.</p>
    <a href="https://github.com/Jesus-QC/ScpTools">GitHub Repo</a>
</div>