.clr-field button {
    width: 22px !important;
    height: 22px !important;
    left: 13px;
    border-radius: 5px;
}

.clr-field input {
    padding-left: 36px;
}

.color-input{
    padding: 5px 10px;
    border-radius: 5px;
    border-style: hidden;
    width: 115px;
    margin: 5px;
    font-family: monospace;
}

.color-list{
    display: flex;
    flex-wrap: wrap;
}

.config-container{
    padding: 20px;
    background-color: white;
    overflow-y: scroll;
}

.main-container{
    height: 100vh;
    background: radial-gradient(#112d56, #000);
}

.step-container{
    margin-top: 2vh;
}

@media screen and (min-width: 800px){
    .big-container{
        display: flex;
    }
    .config-container{
        width: 30vw;
        height: 100vh;
    }
    .main-container{
        width: 70vw;
    }
}

.text-input{
    width: 100%;
    height: 8rem;
    border-radius: 5px;
    border-style: solid;
}

.color-container{
    overflow-y: scroll;
    width: 100%;
    height: 8rem;
}

.cool-btn{
    border-style: solid;
    background-color: white;
}

.add-btn{
    color: #428af5;
    border-color: #428af5;
}

.remove-btn{
    color: #f54281;
    border-color: #f54281;
}

.run-btn{
    margin-top: 10px;
    width: 100%;
    color: #42f54b;
    border-color: #42f54b;
}

.copy-btn{
    margin-top: 10px;
    width: 100%;
    color: #ff9d34;
    border-color: #ff9d34;
}

.output{
    height: 9vh;
}