@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.btn-icon{
    transform: translate(0, 20%);
    font-size: 1em !important;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #555;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #777;
}

.navbar-toggle{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #121212;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .navbar-toggle{
        display: none !important;
    }
}

.filled{
    font-variation-settings: 'FILL' 1;
}

.hide-light{
    display: none;
}

@media (prefers-color-scheme: dark){
    body{
        background-color: #121212;
        color: white;
    }
    
    .main-nav{
        background-color: #121212 !important;
        border-color: #222222 !important;
    }
    
    .navbar-brand{
        color: white !important;
    }
    
    .nav-link{
        color: #ccc !important;
    }

    ::-webkit-scrollbar-track
    {
        background-color: #222222;
    }
    
    .navbar-toggler{
        border-color: rgba(255,255,255, .1) !important;
    }
    
    .navbar-toggler-icon{
        filter: invert(100%);
    }
}